{% extends 'base.html.twig' %}

{% block body %}



        <div class="map_france">
            <h1 class="text-"> {{ region.name }}</h1>
            <p>Bienvenu sur la page de la région {{ region.name }}, vous retrouverez ici toutes les infos concernant les activités à y réaliser.</p>

        </div>





{% endblock %}



